[Unit]
# A short human readable title of the unit
Description="Plant-Imager v3 webui"
# A list of units whose activations will wait until after this unit has completed.
Before=
# A list of units whose activations will occur before this unit starts.
After=network.target network-online.target
# A list of units to activate when this one is activated, if any unit listed here fails this unit will deactivate.
Requires=
# A list of units to activate when this one is activated, if a unit listed here fails this unit will continue to run.
Wants=
#PartOf=plant-imager-app.service


# If this unit restarts more than StartLimitBurst under StartLimitIntervalSec this unit enters a failed state
StartLimitBurst=2
StartLimitIntervalSec=30


[Service]
# Configures the process start-up type for this service unit, one of:
# simple - The process defined in ExecStart= will stay in the foreground while the unit is activated.
# forking - The process defined in ExecStart= will fork a background process and exit right away.
# oneshot - The process will exit right away, use with RemainAfterExit= to ensure the serice is marked as active.
# Consult the documentantion for types (https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=) other options.
Type=exec

# Command with arguments to invoke when the unit is activated.
ExecStart=/home/romi/miniconda3/envs/plant-imager/bin/plant-imager-webui --proxy --url-prefix "/webui" --plantdb-host mellitus.biologie.ens-lyon.fr --plantdb-prefix /plantdb --plantdb-ssl True
# Command with arguments to invoke when the unit is deactivated.
ExecStop=

# First signal sent to the processes to stop the unit
KillSignal=SIGINT
# First signal sent for a restart
RestartKillSignal=SIGINT
# Time before the final signal is sent
TimeoutStopSec=5
# Final signal used to kill the unit. This signal should not be caugth by the process as it must kill it
FinalKillSignal=SIGKILL
# Configures under what conditions the unit will be restarted.
Restart=on-failure
# Time between unit stop ant restart
RestartSec=5

[Install]
# A list of units who when activated will try and activate this unit
WantedBy=default.target
# A list of units to enable or disable when this unit is enabled or disabled (e.g., with systemctl enable)
Also=
